process-watcher
process-watcher-static
unittests
*.dat
*.o
*.out.h
/.deps/
*.in
/aclocal.m4
/autom4te.cache/
*.log
/compile
/config.guess
/config.h
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/test-driver
/Makefile
/config.cache
/unittests.trs
/INSTALL
